:root {
  --border-color: white;
  --link-color: #0096ff;
  --important-color: red;
  --code-color: green;
  --css-prop-color: yellow;
}
body {
  background-color: #000000;
  color: #f5f5f5;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  overflow-y: hidden;
}

h1 {
  font-size: 3em;
  margin: 0;
}
article h2 {
  font-size: 2em;
}

h3 {
  text-decoration: none;
  font-size: 3em;
}

h4 {
  font-size: 2em;
}
p {
  font-size: 1.5em;
}
legend {
  font-size: 3em;
}

header {
  position: fixed;
  outline: 2px var(--border-color) solid;
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100vw;
}

.headerLinks {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2em;
  margin-right: 1em;
}

a,
a:visited,
a:hover,
a:active {
  text-decoration: underline;
  user-select: none;
  color: var(--link-color);
}

main {
  flex: 16;
  display: flex;
  justify-content: space-between;
  overflow-y: auto;
  margin-top: 5.5em;
}

nav {
  padding: 1em 2em;
  flex: 1.5;
  position: fixed;
  font-style: italic;
  font-size: 1.5em;
}

nav ul li {
  font-style: normal;
  margin: 10px 0px;
}
.remove-bullet {
  list-style-type: none;
}

section {
  flex: 9;
  margin-left: 15em;
  padding: 0em 10em;
}

fieldset {
  padding: 1em;
  margin: 2em 0em;
  border: 3px solid var(--border-color);
}

fieldset h3 {
  margin: 0em 1em;
}
fieldset h4 {
  margin: 0em 2em;
  font-weight: 100;
  text-decoration: underline;
}

fieldset h5 {
  margin: 0.5em 4em;
  font-size: 1.5em;
}
fieldset p {
  margin: 0.5em 4em;
  font-size: 1.5em;
}

fieldset ol,
fieldset ul {
  margin: 1em 4em;
}
fieldset ol li,
fieldset ul li {
  font-size: 1.5em;
  margin: 1em;
}

.codeLine,
.codeBlock {
  color: var(--border-color);
  border: 2px var(--code-color) solid;
  font-family: monospace;
}
.codeBlock {
  margin: 0em 6em;
  display: flex;
  justify-content: space-evenly;
}
.cssProp {
  outline: 2px var(--code-color) solid;
}

pre {
  font-size: 2em;
}
.verticalLine {
  border-right: 2px solid var(--code-color);
}
.code {
  font-size: 2em;
}

hr {
  height: 3px;
}

.important {
  color: var(--important-color);
}

footer {
  font-size: 1.5em;
  outline: 2px var(--border-color) solid;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer a {
  margin: 0.5em;
}
